Flask==1.1.2
Werkzeug
gunicorn==19.7.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
numpy==1.19.2
#opencv-python==4.4.0.44
opencv-python-headless==4.2.0.32
opt-einsum==3.3.0
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.4.1
snowballstemmer==2.0.0
sortedcontainers==2.2.2
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow-cpu==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
testpath==0.4.4

